<app-slider></app-slider>
          <div id="table_block" align="center">
        <table id="notification_table" border="1" style=" margin: 0; padding: 0; font-size: 20px; text-align: center;">
            <caption><h2>Notifications</h2></caption>
            <tr id="table_head" style="font-weight: bold;">
                <td>Date</td>
                <td>Text</td>
            </tr>
            <tr>
                <td>21.09.2015</td>
                <td>You mobile phone was change to +390853145532</td>
            </tr>
             <tr>
                <td>20.09.2015</td>
                <td>You have new transaction from account 12451, sender: Artem Efimenko</td>
            </tr>
        </table>
        </div>