<app-slider></app-slider>
          <div id="table_block" align="center">
        <table id="notification_table" border="1" style=" margin: 0; padding: 0; font-size: 20px; text-align: center;">
            <caption><h2>Notifications</h2></caption>
            <tr id="table_head" style="font-weight: bold;">
                <td>Date</td>
                <td>Text</td>
            </tr>
            <tr *ngFor="let notification of this.notifications" [style.font-weight]="getStyle(notification.isChecked)">
                <td>{{notification.date}}</td>
                <td>{{notification.text}}</td>
            </tr>
        </table>
        </div>