        <h2 style="text-align: center;">Please send next information about yourself:</h2>
        <div id="registration_form" align="center">
            Personal id: <input #id type="text"><br><br>
            New username: <input #login type="text"><br><br>
            New password: <input #pass type="password"><br><br>
            Email: <input #email type="text"><br><br>
            First Name: <input #f_name type="text"><br><br>
            Last Name: <input #l_name type="text"><br><br>
            Address: <input #address type="text"><br><br>
            Phone: <input #phone type="text" value="+380"><br><br>
            <button style="cursor: pointer;" (click)="add(id.value, login.value, pass.value, f_name.value, l_name.value, email.value, address.value, phone.value); pass.value='';">Create user</button>
        </div>
