<div *ngIf="isUser">
	<app-slider></app-slider>
</div>
        <div id="accounts_block" align="center">
        <table id="account_table" border="1" style=" margin: 0; padding: 0; font-size: 20px; text-align: center;">
            <caption><h2>Accounts</h2></caption>
            <tr id="table_head" style="font-weight: bold;">
                <td>Account number</td>
                <td>Bank</td>
                <td>Balance</td>
                <td>Deposit percent</td>
                <td>Credit percent</td>
            </tr>
            <tr *ngFor="let account of this.accounts" (click)="GotoAccount(account.accountId)">
                <td>{{account.accountId}}</td>
                <td>{{account.bankName}}</td>
                <td>{{account.value}}</td>
                <td>{{account.CreditPersent}}</td>
                <td>{{account.DepositPersent}}</td>
            </tr>
        </table>
        <div *ngIf="isUser">
            <button routerLink="/{{this.username}}/accounts/new" id="account_create_buton" style="margin-top: 20px; margin-left: 10%; cursor: pointer; font-size: 16px">Create new account</button>
        </div>
        </div>
