<app-slider></app-slider>
        <div id="account_info_block" style="float: left; margin-top: 30px; clear: both;">
            <h2>Account #account_id</h2>
            <span id="balance">Balance: </span> {{this.account.value}} <br>  <br>
            <!-- required_payment <br> <br>
            monthly_profit <br> <br> -->
            
            Bring in: <input type="text" #bring_in>
            <button id="bring_in_button" (click) = "transaction(bring_in.value, 'bring_in')">OK</button> <br>  <br>
            Withdraw: <input type="text" #withdraw>
            <button id="withdraw_button" (click) = "transaction(withdraw.value, 'withdraw')">OK</button> <br>  <br>
            
            <h3>Transfer Money</h3>
            Id: <input type="text" #account_id> <br>  <br>
            Value: <input type="text" #value> <br>  <br>
            <button id="transfer_button" (click) = "transfer(account_id.value, value.value)">Send Money</button>
        </div>
        
                  <div id="transactions_block" style="float: left; margin-left: 2%">
        <table id="transactions_table" border="1" style=" margin: 0; padding: 0; font-size: 20px; text-align: center;">
            <caption><h2>Transactions</h2></caption>
            <tr id="table_head" style="font-weight: bold;">
                <td>Date</td>
                <td>Value</td>
                <td>Description</td>
            </tr>
            <tr *ngFor="let transaction of this.account.transaction">
                <td>{{transaction.date}}</td>
                <td>{{transaction.value}}</td>
                <td>{{transaction.Info}}</td>
            </tr>
        </table>
        </div>
        <div id="transactions_settings" style="float: left; margin-top: 50px; margin-left: 2%;">
            <div align="center">
            <label>Value Range:</label><br><br>
            <input type="number" size="2" id="min_value" min="0" value="0" step="0.01"> - <input type="number" size="2" id="max_value" min="0" value="10000" step="0.01"> 
            <br><br>
                <label>Date Range:</label><br> <br>
                <input type="date" name="from_date" size="6" placeholder="2011-04-25"> - <input type="date" name="to_date" size="6" placeholder="2016-04-06">
            <div>
        </div>
